.panda {
	font-family: 'Megrim', sans-serif;
	font-size: 1.3em;
	color: #fff;
	padding: 5px;
	border-radius: 20px 5px;
	background-color: #cc0000;
	margin-right: 10px;
}
body {
	background: #b5ff51;
}
#box {
	width: 100%;
}
video {
	margin: 20px auto 0px auto;
	width: 600px;
	border-radius: 5px;
}
h1 {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
form {
	margin: 10px auto;
	border: 1px solid black;
	background-color: #ccc;
	padding: 10px;
	border-radius: 5px;
}
.btn {
	margin: 10px auto;
}
#episode, #season, #showStart {
	display: none;
}
